html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body { 
    max-width: 800px;
    padding: 20px;
    margin:0 auto;
    font-family: 'Montserrat' ,sans-serif;
    background-color: hsl(210, 23%, 95%)
}